.header {
  background-color: #3874ff;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px 0 100px 0;
}
.footer {
  background-color: #3874ff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
